.AsideMenu-div {
    position: absolute;
    height: 100%;
    z-index: 4;
}

.AsideMenu-div.isActive {
    width: 100%;
}

.AsideMenu-icon--Menu {
    width: fit-content;
    margin: 0.6em;
    font-size: 2rem;
}

.AsideMenu-icon--Menu.isActive {
    position: absolute;
    left: 0;
    width: fit-content;
}

.AsideMenu {
    position: absolute;
    top: 0;
    width: 0vw;
    height: 100%;
    overflow: hidden;
    transition: all 1s ease;
    background-color: #ffffffff;
    opacity: 0;
    z-index: 2;
}

.AsideMenu.isActive {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
    width: 15em;
    padding: .5em;
    opacity: 1;
}

.AsideMenu-div--header {
    display: flex;
    width: fit-content;
}

.AsideMenu-div-headericon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5em;
    font-size: 2.2rem;
}

.AsideMenu-div--Background {
    width: 0vw;
    transition: all 1s ease;
}

.AsideMenu-div--Background.isActive {
    display: absolute;
    width: 100%;
    height: 100vh;
    background-color: #0000006d;
    z-index: 1;
}

.AsideMenu-h2 {
    font-size: 2rem;
    margin: 0.5em;
    font-weight: 500;
    width: fit-content;
}

.AsideMenu-div--link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 0.5em;
}

.AsideMenu-h4 {
    font-size: 1rem;
    width: fit-content;
    font-weight: 500;
    margin-left: 2em;
}

.AsideMenu-h4--header {
    color: #F4BC68;
    font-weight: 700;
    margin-left: 0px;
}

.AsideMenu-icon {
    width: fit-content;
    font-size: 1.7rem;
}